[Unit]
Description= Seabot QGroundControl Service
After=network.target

[Service]
ExecStart=/home/seabot_qgc/QGroundControl
Restart=always
RestartSec=5
User=seabot
Group=seabot
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/seabot/.Xauthority
WorkingDirectory=/home/seabot/seabot_qgc/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=seabot_qgc

[Install]
WantedBy=multi-user.target