[Unit]
Description= Seabot QGroundControl Service
After=network.target

[Service]
ExecStart=/home/qgroundcontrol-Seabot_Stable_V4.3/QGroundControl
Restart=always
User=seabot
Group=seabot
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/seabot/.Xauthority
WorkingDirectory=/home/seabot/qgroundcontrol-Seabot_Stable_V4.3/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=seabot_qgc

[Install]
WantedBy=multi-user.target