[Unit]
Description= Seabot QGroundControl Service
After=network.target

[Service]
ExecStart=/usr/bin/QGroundControl
Restart=always
RestartSec=5
User=seabot
Group=seabot
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/seabot/.Xauthority
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=seabot_qgc

[Install]
WantedBy=multi-user.target